-Xmx12G
-Xms6G
-XX:InitialRAMPercentage=50
-XX:MaxRAMPercentage=60
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=E:/trino-dumps/trino-heap-dump.hprof
-XX:ReservedCodeCacheSize=256M
-Djdk.attach.allowAttachSelf=true
-XX:+ExitOnOutOfMemoryError
-XX:MaxDirectMemorySize=1G
