services:
  postgres:
    volumes:
      - {{ data_mount }}/postgres:/var/lib/postgresql/data
  minio:
    volumes:
      - {{ data_mount }}/minio:/data
  nessie:
    volumes:
      - {{ data_mount }}/nessie:/var/lib/nessie
  trino-fte:
    deploy:
      resources:
        limits:
{% if is_production %}
          memory: 64G
{% else %}
          memory: 16G
{% endif %}
