POSTGRES_HOST={{ postgres_host }}
POSTGRES_PORT=5432
POSTGRES_DB=appdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

TRINO_HOST={{ trino_host }}
TRINO_PORT=8080
TRINO_CATALOG=iceberg
TRINO_SCHEMA=warehouse
TRINO_USER=trino
TRINO_TABLE=bonus_registry

RABBITMQ_HOST={{ rabbitmq_host | default('127.0.0.1') }}
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=bonus_registry_queue

API_PORT={{ api_port }}
