# Load-test-server: Postgres and Trino on data-server ({{ data_private_ip }}).
# Use: source /etc/samples-generation-load.env before write:queue, write:trino-mass, etc.

POSTGRES_HOST={{ data_private_ip }}
POSTGRES_PORT=5432
POSTGRES_DB=appdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

TRINO_HOST={{ data_private_ip }}
TRINO_PORT=8080
TRINO_CATALOG=iceberg
TRINO_SCHEMA=warehouse
TRINO_USER=trino
TRINO_TABLE=bonus_registry
