# Local state
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Variables with secrets
terraform.tfvars

# Crash log
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc
